<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Chapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ search_page }}">
        <a class="nav-link" href="{% url 'booking:search' %}">Buscar habitaciones</a>
      </li>
      <li class="nav-item {{ search_page }}">
        <a class="nav-link" href="{% url 'booking:reservations' %}">Reservas</a>
      </li>
    </ul>
  </div>
</nav>
